$black: #000;

.navigation {
  li {
    display: inline;
    margin-left: 10px;
  }
}

.preview {
  text-align: center;
}

.preview-container {
  overflow: hidden;
}

.preview-controls {
  float: left;

  .move-down,
  .move-up {
    display: block;
  }
}

.preview-image {
  border: 1px solid $black;
  float: left;
  padding: 5px;
}

.preview-list {
  li {
    height: 112px;
    list-style: none;
    padding-right: 10px;
  }
}
