.preview {
  text-align: center;
}

.preview-container {
  overflow: hidden;
}

.preview-controls {
  float: left;

  .move-down,
  .move-up {
    display: block;
  }
}

.preview-hand {
  width: 30px;
  height: 110px;
  float: left;
  cursor: -webkit-grab;
  border: 1px solid grey;
  background: greenyellow;
}

.preview-image {
  padding: 5px;
  border: 1px solid black;
  float: left;
}

ul.preview {
  li {
    height: 110px;
    padding-right: 10px;
    list-style: none;
  }
}
