$black: #000;

.navigation {
  li {
    display: inline;
    margin-left: 10px;
  }
}

.preview {
  text-align: center;
}

.preview-container {
  overflow: hidden;
}

.preview-image {
  border: 1px solid $black;
  padding: 5px;
}

.preview-list {
  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }
}
